<footer>
  <div *ngFor="let footer of footerContent">
    <div class="bg-dark py-5">
      <div class="p-grid container p-justify-center">
        <div *ngFor="let footerLinks of footer.footerLinks" class="p-col-6 p-md-6 p-lg-2">
          <div class="text-uppercase font-weight-bold mr-3">
              {{footerLinks.sectionTitle}}
          </div>
          <div class="footer-links font-weight-light">
            <ul>
              <li *ngFor="let link of footerLinks.link">
                <a class="text-white" [href]="link.url">{{link.linkText}}</a>
              </li>
            </ul>
          </div> 
        </div>
        <div *ngFor="let images of footer.images" class="p-col-12">
          <div class="center pb-0 mt-4">
            <a *ngFor="let image of images" [href]="image.url">
              <img class="mr-2" [src]="image.imageUrl" [alt]="image.alt" [title]="image.title"/>
            </a>
          </div>
        </div>
    </div>
  </div>
  <div class="bg-gray">
    <div class="p-grid container p-justify-center">
      <div class="footer-links text-center py-2 font-weight-light text-white">
          <div class="p-col"><a *ngFor="let link of footer.bottomLinks" class="text-white pr-4">{{link.linkText}}</a></div>
        </div>
      </div>
  </div>
</div>
</footer>