<section *ngFor="let features of featuresContent" id="{{features.contentBlockId}}" role="complementary" class="pt-5">
  <div class="p-grid container">
    <div class="p-col-12 center">
      <h2 class="display-2 h2 font-weight-bold" [ngClass]="!features.subtitle ? 'mb-5 pb-3' : ''">{{features.title}}<span class="text-yellow">.</span></h2>
      <p *ngIf="features.subtTitle" class="lead">{{features.subTitle}}</p>
    </div>
    <div *ngFor="let item of features.feature" class="p-grid container horizontal">
    <!--image left-->
      <div *ngIf="!item.imageRight" class="p-md-6">
          <img *ngFor="let image of item.image" class="card no-shadow border-0 background" [src]="image.url"  [title]="image.title" [alt]="image.alt"/>
        </div> 
      <!--/--> 
      <!--image right on small screens-->
      <div *ngIf="item.imageRight" class="p-md-6 show-small">
        <img *ngFor="let image of item.image" class="card no-shadow border-0 background" [src]="image.url"  [title]="image.title" [alt]="image.alt"/>
      </div>
    <!--/-->   
     <div class="p-md-6">
         <div class="card no-shadow border-0">
            <h3 class="font-weight-bold display-3">{{item.highlightTitle}}</h3>
             <div *ngFor="let content of item.highlightContent" class="card-body mb-5">
             <h4>{{content.highlightSubtitle}}</h4>
             <p *ngIf="content.highlightText" class="card-text">
               {{content.highlightText}}</p>
             <ul *ngIf="content.highlightList" class="list-group no-bullet">
                <li *ngFor="let list of content.highlightList" class="list-group-item py-1"><i class="material-icons text-primary">check</i> {{list.listItem}} </li>
             </ul>
             <a *ngIf="content.highlightLinkText" [href]="content.highlightLink" class="ui-button text-button" role="button" attr.aria-label={{content.highlightLinkAccessibilityLabel}}>{{content.highlightLinkText}}</a>
           </div>
         </div>
       </div>
       <!--image right on large screens-->
      <div *ngIf="item.imageRight" class="p-md-6 show-large">
          <img *ngFor="let image of item.image" class="card no-shadow border-0 background" [src]="image.url"  [title]="image.title" [alt]="image.alt"/>
        </div>
      <!--/-->
   </div>
  </div>
  <div class="center">
    <a href="{{features.callToActionLink}}" class="ui-button overlap" role="button">{{features.callToActionText}}</a>
  </div>
</section>  