<section *ngFor="let faqs of faqsContent"  id="{{faqs.contentBlockId}}"  class="bg-dark">
  <div class="p-grid p-align-center container pb-5">
    <div class="p-col-12 p-lg-6">
        <h2 class="display-2 h2 font-weight-bold" [ngClass]="!faqs.subTitle ? 'mb-5 pb-3' : ''">{{faqs.title}}<span class="text-yellow">.</span></h2>
        <p *ngIf="faqs.subTitle" class="lead pr-5">{{faqs.subTitle}}</p>
        <a *ngIf="faqs.callToActionText" [href]="faqs.callToActionLink" class="ui-button secondary ui-secondary-button-transparent" role="button" >{{faqs.callToActionText}}</a>
    </div>
      <div class="p-col-12 p-lg-6 mt-4 faq">
        <div *ngFor="let faq of faqs.feature" class="">
           <p-accordion>
                <p-accordionTab header="{{faq.question}}">
                    {{faq.answer}}
                    <p><a [href]="faq.url">{{faq.linkText}}</a></p>
                    <div *ngIf="faq.tableContent" class="p-grid container">
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                      <p><strong>Air Force Finance Help Desk</strong> 
                        <br/><i>PIEE</i><br/>
                       Email: saf.fmpaffso.customerservice@us.af.mil<br/>
                       Phone: <a  href="tel:937-257-3117">937-257-3117</a> <br/>
                        DSN: 312-787-3117
                      </p>
                    </div>
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                      <p><strong>Army Help Desk</strong> 
                        <br/><i>PIEE</i><br/>
                        Email: dfas.dscc.jac.mbx.army-wawf-Help Desk@mail.mil
                      </p>
                    </div>
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                      <p><strong>CORT Tool Help Desk</strong> 
                        <br/><i>PIEE</i><br/>
                        Email: disa.global.servicedesk.mbx.eb-ticket-requests@mail.mil  
                        <br/>
                       Phone: <a  href="tel:866-618-5988">866-618-5988</a>
                      </p>
                    </div>
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                      <p><strong>DCMA Help Desk</strong> 
                        <br/><i>PIEE</i><br/>
                        Email: servicecenter@dcma.mil 
                        <br/>
                        Phone: <a  href="tel:888-576-3262">888-576-3262</a>
                      </p>
                    </div>      
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                        <p><strong>DFAS Help Desk</strong> 
                        <br/><i>PIEE</i><br/>
                        Email: https://www.dfas.mil/dfas/AskDFAS/DoDAAC.html  
                      </p>
                    </div>    
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                        <p><strong>DLA Help Desk</strong> 
                        <br/><i>PIEE</i><br/>
                        Email: wawf@dla.mil<br/>
                        Phone: <a  href="tel:571-767-1925">571-767-1925</a>
                      </p>
                    </div>   
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                        <p><strong>EDA Help Desk</strong> 
                        <br/><i>EDA</i><br/>
                        Email: disa.global.servicedesk.mbx.eb-ticket-requests@mail.mil  
                        <br/>
                        Phone: <a  href="tel:866-618-5988">866-618-5988</a>
                     </p>
                    </div>       
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                        <p><strong>IUID Help Desk</strong> 
                        <br/><i>IUID</i><br/>
                        Email: Iuid.Help Desk@dla.mil
                        <br/>
                        Phone: <a  href="tel:269-961-4745">269-961-4745</a>
                     </p>
                    </div>   
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                        <p><strong>myInvoice Help Desk</strong> 
                        <br/><i>MINV</i><br/>
                        Email: dfas.dscc.jjh.mbx.cco-esolutions-myinvoice@mail.mil
                     </p>
                    </div>   
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                        <p><strong>NASA GAM Help Desk</strong> 
                        <br/><i>PIEE</i><br/>
                        Email: HQ-WAWF@mail.nasa.gov 
                     </p>
                    </div>   
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                        <p><strong>Navy Help Desk</strong> 
                        <br/><i>PIEE</i><br/>
                        Email: dfas.cleveland-oh.ztc.mbx.ccl-ec-navy-wawf-Help Desk@mail.mil  
                        <br/>
                        Phone: <a  href="tel:800-756-4571">800-756-4571</a> opt 6    
                    </p>
                    </div>   
                    <div class="p-col-12 p-lg-6" style="word-wrap: break-word">
                        <p><strong>USMC Help Desk</strong> 
                        <br/><i>PIEE</i><br/>
                        Email: USMCWAWFHelp Desk@saic.com
                        <br/>
                        Phone: <a  href="tel:800-520-1363">800-520-1363</a> opt 3  
                     </p>
                    </div>   
                    <div class="p-col-12">
                        <p><strong>Technical Support</strong><br/>
                            If you are experiencing technical problems with Procurement Integrated Enterprise Environment, please contact the DISA DECC Ogden Electronic Business Service Desk or visit the <a href="https://wawf.eb.mil/xhtml/unauth/web/homepage/governmentCustomerSupport.xhtml">PIEE customer support page</a> and click "Ogden Help Desk" to submit a ticket. 
                     </p>
                    </div>  
                    <div class="p-col-12" style="word-wrap: break-word">
                        <p><strong>Ogden Help Desk</strong> 
                        <br/><i>PIEE</i><br/>
                        Email: disa.global.servicedesk.mbx.eb-ticket-requests@mail.mil
                        <br/>
                        Phone: <a  href="tel:866-618-5988">866-618-5988</a>, <a  href="tel:801-605-7095">801-605-7095</a><br/>
                        Fax: 801-605-7453 
                     </p>
                    </div>                                   
                  </div>
                </p-accordionTab>
           </p-accordion>
        </div>
      </div>
  </div>
</section>  