<section *ngFor="let about of aboutContent" class="pt-5" [ngClass]="!about.callToActionText ? 'pb-5' :''" id="{{about.contentBlockId}}">
    <div class="p-grid container">
      <div *ngIf="about.title" class="p-col-12 center">
        <h2 class="display-2 h2 font-weight-bold" [ngClass]="!about.subTitle ? 'mb-5 pb-3' : ''">{{about.title}}<span class="text-yellow">.</span></h2>
        <p *ngIf="about.subTitle" class="lead">{{about.subTitle}}</p>
      </div>
      <div *ngFor="let item of about.feature" [ngClass]="about.feature.length > 3 ? 'p-md-3 center' : 'p-md-4 center'">
  
        <div class="card no-shadow text-center border-0">
            <p-card>
                <p-header>
                  <i *ngIf="item.highlightIcon" class="fa {{item.highlightIcon}}  icon-box hoverable large"></i>
                 
                </p-header>
                <h3 class="card-title font-weight-normal">
                    {{item.highlightTitle}}
                  </h3>
                <p class="card-text">{{item.highlightText}} </p>
                 <p-footer>
                    <a *ngIf="item.highlightLinkText" href="{{item.highlightLink}}" class="ui-button text-button" attr.aria-label={{item.highlightLinkAccessibilityLabel}} role="button">{{item.highlightLinkText}} </a>
                  </p-footer>                   
            </p-card>        
        </div>

      </div>
    </div>
    <div *ngIf="about.callToActionText" class="center">
          <a href="" class="ui-button secondary overlap" role="button">{{about.callToActionText}}</a>
     </div>
  </section>