<section *ngFor="let benefits of benefits" class="bg-light py-5" id="{{benefits.fields.contentBlockId}}"> 
  <div class="p-grid p-justify-center container pb-5">
    <div class="p-col-12 center">
      <h2 class="display-3 h2 font-weight-bold" [ngClass]="!benefits.fields.subTitle ? 'mb-5 pb-3' : ''">{{benefits.fields.title}}<span class="text-yellow">.</span></h2>
      <p *ngIf="benefits.fields.subTitle" class="lead">{{benefits.fields.subTitle}}</p>
    </div>
      <div *ngFor="let ben of benefits.fields.feature" class="p-col-12 p-md-4 center">
        <a class="no-decoration">
            <p-card header styleClass="ui-card-shadow interactive">
                <p-header>
                    <img class="card-img-top" alt="{{ben.fields.image.fields.alt}}" title="{{ben.fields.image.fields.title}}" role="presentation" src="{{ben.fields.image.fields.imageFile.fields.file.url}}">
                </p-header>
                <h3 class="card-title font-weight-bold">
                      {{ben.fields.highlightTitle}}
                  </h3>
                <p class="card-text">{{ben.fields.highlightText}}</p>
                 <p-footer>
                    <a *ngIf="ben.fields.highlightLinkText" href="{{ben.fields.highlightLink}}" class="ui-button text-button" role="button" attr.aria-label="{{ben.fields.highlightLinkAccessibilityLabel}}">{{ben.fields.highlightLinkText}}</a>
                  </p-footer>                   
            </p-card>

          <!-- <img class="card-img-top icon" src="{{ben.fields.image.fields.imageFile.fields.file.url}}" alt="{{ben.fields.image.fields.alt}}" title="{{ben.fields.image.fields.title}}" role="presentation">y
          <div class="card-body">
            <h3 class="card-title font-weight-bold">{{ben.fields.highlightTitle}}</h3>
            <p class="card-text">{{ben.fields.highlightText}}</p>
            <a *ngIf="ben.fields.highlightLinkText" href="#" class="ui-button text-button inverse" role="button" attr.aria-label="{{ben.fields.highlightLinkAccessibilityLabel}}">{{ben.fields.highlightLinkText}}</a>
          </div> -->
          
        </a>
    </div>
  </div>  
</section>
  