$primaryColor: #0D76BA;
$primaryDarkColor: #323232;
$primaryGrayColor: #424242;
$primaryLightColor: #f3f3f3;
$primaryWhite: #ffffff;
$accentColor: #3DB1F2;
$accentDarkColor: #4895c6;
$accentLightColor: #73b7e3;
$accentTextColor: #ffffff;
$accentColorYellow: #FFBD03;
$lightGray: #ddd;

@import '../sass/theme/_theme';