<!-- <section *ngFor="let features of features" id="{{features.fields.contentBlockId}}" role="complimentary" class="container-fluid background features py-3" [ngStyle]="{'background-image': features.fields.backgroundImage ? 'url('+features.fields.backgroundImage.fields.file.url +')' : 'none'}">
  <div class="alt">
  <div class="py-5  mx-auto text-center section-title">
    <h2 class="display-4 h2 font-weight-normal">{{features.fields.title}}</h2>
     <p class="lead">{{features.fields.subTitle}}</p></div>
       <div class="row py-2 px-5 justify-content-center ">
          <div *ngFor="let item of features.fields.feature"  class="col-lg-3 pb-4">
              <img class="card no-shadow border-0 background" src="{{item.fields.image.fields.imageFile.fields.file.url}}"  title="{{item.fields.image.fields.title}}" alt="{{item.fields.image.fields.alt}}"/>
              <div class="card no-shadow border">
                  <div class="card-body text-center">
                  <h3 class="card-title pl-3">{{item.fields.highlightTitle}}</h3>
                  <p *ngIf="item.fields.highlightText" class="card-text">
                    {{item.fields.highlightText}}</p>
                  <ul *ngIf="item.fields.highlightList" class="list-group">
                     <li *ngFor="let list of item.fields.highlightList" class="list-group-item py-1"><i class="material-icons text-primary">check</i> {{list}} </li>
                  </ul>
                  <a *ngIf="item.fields.highlightLinkText" href="#" class="btn btn-primary" role="button" attr.aria-label={{item.fields.highlightLinkAccessibilityLabel}}>{{item.fields.highlightLinkText}}</a>
                </div>
              </div>
          </div> 
    </div>
    <div class="row justify-content-center">
      <p><a href="" class="btn btn-raised btn-secondary overlap" role="button">{{features.fields.callToActionText}}</a></p>
  </div>
     </div>
    </section>   -->
    <section *ngFor="let features of features"class="container-fluid bg-dark">
      <div class="container">
        <div class="row">
            <div class="bg-img-right" [ngStyle]="{'background-image': features.fields.backgroundImage ? 'url('+features.fields.backgroundImage.fields.file.url +')' : 'none'}"></div>
        <div class="col-md-4 py-5"> 
        <h2 class="display-4 h2 font-weight-light">{{features.fields.title}}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</p>
            <a class="btn btn-outline-light" href="" role="button" aria-label="Find more information">Learn More</a>
        </div>

        <div class="col-md-6 my-auto pr-0">
          <div class="container">
            <div class="row">
        <div class="nav flex-column nav-pills bg-darker px-0  col-md-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Feature One</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Feature Two</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Feature Three</a>
            <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Feature Four</a>
          </div>
        <div class="bg-white col-md-8 py-5">
          <div class="tab-content text-dark" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"><h3 class="pb-2">Lorem ipsum</h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><h3 class="pb-2">Lorem ipsum</h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><h3 class="pb-2">Lorem ipsum</h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.</div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    </section>