$primaryColor: #0D76BA;
$primaryDarkColor: #323232;
$primaryGrayColor: #424242;
$primaryLightColor: #f3f3f3;
$primaryWhite: #ffffff;
$accentColor: #3DB1F2;
$accentDarkColor: #3d91c7;
$accentLightColor: #f3f3f3;
$accentTextColor: #ffffff;
$accentColorYellow: #FFBD03;
$lightGray: #ddd;
$darkMenuBgColor: #424242;
$darkMenuHoverColor: #3DB1F2;
$darkMenuRouterLinkActiveColor: #3DB1F2;
$lightMenuRouterLinkActiveColor: #3DB1F2;
$horizontalLightMenuRouterLinkActiveColor: #3DB1F2;

@import '../../sass/layout/_layout';