<header id="header">
    <!-- <app-navigation-topbar></app-navigation-topbar> -->
    <app-navigation></app-navigation>
    <app-hero></app-hero>
</header>
<main role="main">
    <app-clients></app-clients>
    <app-about></app-about>
    <app-data></app-data>
    <app-features></app-features>
    <!-- <app-features-alt></app-features-alt> -->
    <app-benefits></app-benefits>
    <app-faqs></app-faqs>
    <app-help></app-help>
    <app-contact></app-contact>
</main>
<footer role="contentinfo">
    <app-footer></app-footer>
</footer>

